<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="D:/Pribadi/Code/SQA/pom-raw-catatan-keuangan/src/test/java/com/personal/PemasukanTes.java">
        <classes>
            <class name="com.personal.PemasukanTes">
                <methods>
                    <include name="testTrcPemasukan"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="D:/Pribadi/Code/SQA/pom-raw-catatan-keuangan/src/test/java/com/personal/PengeluaranTes.java">
        <classes>
            <class name="com.personal.PengeluaranTes">
                <methods>
                    <include name="testTrcPengeluaran"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>